/* BEGINNING_BACKGROUND
div.background-image {
    width: 100%; 
    height: 100%; 
    background-attachment: fixed; 
    background-size: cover;
    position: fixed;
}
div.background-color {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
}
/* END_BACKGROUND 



div.body1 {
width: 50%;
margin-left: auto;
margin-right: auto;
position: sticky;
z-index: 8;
}
*/
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;800&display=swap');

* {
    font-family: 'Syne', sans-serif;
    scroll-behavior: smooth;
}
:root {
    --main1-color1: white /*rgb(27, 196, 146)*/;
    --main1-color2: 14,0,255;

    --main2-color1: white;

    --main3-color1: transparent;
    --main3-color2: transparent;
    
    --main4-color1: black /*#202225*/;

    --transition-time1: 0.1s;
    
    --font-color1: white;
    --font-color2: white;


    --responsivePadding: 40px;
    --responsive: 10px;
    --github-responsive: 14px;
    --github-tracks-responsive: 14px;
    --github-faq-responsive: 16px;
    --github-home-responsive: 14px;
    --github-resources-responsive: 16px;
    --body-width: 80%;
    --raduis-border1: 30px;
    background-color: black;
}
a {
    text-decoration: none;
}
.dpno {
    display: none;
}

html, body, #root {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}
div.background-image {
    display: none;
    opacity: 1;

    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-size: cover;
    position: fixed;

    /*background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.30) 50%, var(--main1-color2) 100%);*/
    /*
    background-color: white;

    background: linear-gradient(160deg, rgba(14,0,255,1) 0%, rgba(0,0,0,0) 80%); */
    background: radial-gradient(circle at 50% 0, rgba(var(--main1-color2),0.9) 0%, rgba(var(--main1-color2),0.3) 20%, rgba(0,0,0,0) 100%);
}
div.background-image-noise {
    opacity: 0.15;

    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
    position: fixed;

    background-image: url(the-base/GIFs/giphy2.gif);
}




/* ANIMATIONS */
        .animation1 {
            transition: 0.4s;
        }

        
        @keyframes welcomeBLAM {
            0% {
                transform: translateY(10vh);
                opacity: 0;
            }
            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .anime-welcomeBLAM {
            animation-name: welcomeBLAM;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }


        .reveal{
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 500ms all ease;
            transform: scale(1.2);
          }
          .reveal.active{
            transform: translateY(0);
            opacity: 1;
            transform: scale(1);
          }
/* ANIMATIONS */



/**/
        .Button {
            transition: box-shadow 0.2s ease 0s, outline 0.2s ease 0s;
            color: rgb(255, 255, 255) !important;
            background-color: transparent !important;
            box-shadow: rgb(255 255 255 / 25%) 0px 0px 0px 1px inset !important;
            display: flex !important;
            border-radius: 0.375rem !important;
            flex-direction: row-reverse !important;

            transition: 200ms;
        }
        .Button.primary {
            border: none;
            color: rgb(255, 255, 255);
            line-height: 22px;
            letter-spacing: 0.25px;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            flex-direction: row-reverse;
            -webkit-box-pack: center;
            justify-content: center;
            background: var(--main1-color1);
            padding: 13px 24px;
            cursor: pointer;
        }
        .Button.primary:hover {
            background-color: white !important;
            color: black !important;
            box-shadow: rgb(255 255 255 / 67%) 0px 0px 0px 6px !important;
        }
        .Button.primary.main {
            padding: 16px 24px !important;
            color: rgb(36, 41, 46) !important;
            background-color: var(--main1-color1) !important;
            line-height: 16px !important;
            display: flex !important;
            -webkit-box-pack: center !important;
            justify-content: center !important;
            cursor: pointer !important;
            border-radius: 0.375rem !important;
        }
        .Link {
            font-size: 15px;
            color: var(--main1-color1);
            line-height: 25px;
            height: 100%;
            display: flex;
            align-items: center;
        }
        a.Link:hover {
            transform: translateY(-2px);
            transition: var(--transition-time1);
        }
        .prevent-select {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }



/* HEADER */
        .section1-header {
            position: fixed;
            z-index: 53;
            width: 100%;
        }
        .section1-header .section1-navigation {
            display: flex;
            min-height: 72px;
            padding: 80px 150px;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
        }
        .section1-header .section1-logo {
            padding: 0px;
            margin: auto;
            cursor: pointer;
            z-index: 100;
            transition: margin 700ms;
        }
        .section1-logo:hover {
            transform: scale(1.05);
            transition: 100ms;
        }
        .section1-header .section1-logo a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            height: 72px;
        }
        .section1-header .section1-links {
            min-width: 100vw;
            max-width: 100vw;
            left: 0px;
            top: 10px;
            height: 72px !important;
            max-height: 72px !important;
            min-height: 72px !important;

            -webkit-box-flex: 1;
            flex-grow: 1;
            display: flex;
            gap: 30px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            position: absolute;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            
            opacity: 0;
            translate: 20px 50px;
        }
        .sb1-links {
            display: flex;
            flex-direction: row;
            gap: 40px;

            height: 100%;
            align-items: center;

            background: rgb(0 0 0 / 75%);
            /*backdrop-filter: blur(5px);*/
            border-radius: 20px;
            padding: 0 31px;
        }
        .section1-column {
            display: flex;
            /*flex-direction: column;*/
            position: relative;
            height: 100%;
            align-items: center;
        }

        a.Link:active {
            transform: scale(0.9);
            transition: 100ms;
        }



        .section1-column:before, .section1-column:after {
            transition: all .2s;
        }
        .section1-column, .section1-column {
        position: relative;
        }
        .section1-column:after,
        .section1-column:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: var(--main2-color1);
        height: 2px;
        }
        .section1-column:hover:after {
        width: 100%;
        }

        .section1-column {
        transition: all 500ms;
        }

        .section1-column:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
        }
        .section1-column:hover {
        color: var(--main2-color1);
        z-index: 1;
        }
        .section1-column:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
        }



        .section1-column a.active {
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 14px;
            position: relative;
        }
        .sb1-right {
            display: flex;
            flex-direction: row;
            gap: 16px;
            position: absolute;
            right: var(--responsivePadding);
        }
        .hamburger-icon {
            display: none !important;
            -webkit-box-align: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            outline-color: transparent;
        }
        .sb1-bg {
            width: 100%;
            height: 100%;
            position: absolute;

            z-index: 99;
            left: 0;
            top: 0;
        }
/* HEADER */




/* BODY */
            .body1 {
                position: sticky;
                z-index: 1;
            }
            .body1 h1 {
                font-family: 'Syne', sans-serif;
                font-size: 80px;
                margin: 0 0 32px 0;

                color: var(--font-color2);
                /*text-decoration: underline overline var(--main3-color1);*/

                text-shadow: rgba(255, 255, 255, 0.3) 0 0 25px;
            }
            /*
            h1 strong, h2 strong {
                background-image: linear-gradient(160deg, rgba(var(--main1-color2),1) 0%, transparent 100%);;
                background-position: 0% 80%;
                background-repeat: no-repeat;
                background-size: 100% clamp(18px, 2.0833333333vw, 20px);
            }
            */
            .body1 h2 {
                color: var(--font-color1);
                margin: 0;

                text-shadow: rgba(255, 255, 255, 0.3) 0 0 25px;
            }
            .body1 p {
                color: var(--font-color1);
                font-family: 'Syne', sans-serif;
                font-size: 25px;
            }

            .bkg-transparent {
                background-color: transparent !important;
                border-style: none !important;
            }

            main {
                width: 100%;
                min-height: 5000px;
            }

            .sb-body-hi {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
            }
            .sb2-body-hi {
                background-color: var(--main3-color2);
                overflow: hidden;

                position: relative;
                display: grid;
                /*gap: 1.25rem;*/
                grid-template-columns: repeat(1, 1fr); /* bibibiibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibibi */
            }

            .sb-body-white {
                width: var(--body-width);
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
            }
            .sb2-body-white {
                margin-left: auto;
                margin-right: auto;
                z-index: 1;

                position: relative;
                display: grid;
                gap: 1.25rem;
                grid-template-columns: repeat(2, 1fr);
            }
            .grid-body-white {
                position: relative;
                display: grid;
                gap: 1.25rem;
            }
            .section1-main {
                overflow: hidden;
                border-radius: var(--raduis-border1);
                background-color: var(--main3-color1);
                padding: 20px;

                position: sticky;
                z-index: 1;

                border-style: solid;
                border-width: 1px;
                --tw-border-opacity: 1;
                border-color: rgb(54 54 54/var(--tw-border-opacity));
                --tw-bg-opacity: 0.75;
                background-color: rgb(38 38 38/var(--tw-bg-opacity));
            }
            .fct-hover:hover {
                --tw-bg-opacity: 0.8;
                background-color: rgb(48 48 48/var(--tw-bg-opacity));
            }
            .sb-section1-main-p {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }

            

            .sb-body-black {
                min-height: 500px;

                width: var(--body-width);
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
            }
            .sb2-body-black {
                background-color: var(--main3-color2);
                border-radius: var(--raduis-border1);
                overflow: hidden;

                position: relative;
                display: grid;
                /*gap: 1.25rem;*/
                grid-template-columns: repeat(2, 1fr);

                background: rgb(195,34,194);
                background: linear-gradient(56deg, rgba(195,34,194,1) 0%, rgba(45,46,253,1) 100%);
            }
            .sb2-body-black p, .sb2-body-black h2 {
                color: white !important;
            }
            .img-container {
                height: 100%;
                position: relative;
                display: flex;
                overflow: hidden;
                align-items: center;

                border-radius: var(--raduis-border1);
            }
            .sb-body-black img {
                width: 100%;
                background-attachment: fixed;
                background-size: cover;
                right: 0;
                position: absolute;
            }
            .for-section1-main {
                padding: 30px;
            }



            .sb-body-video {
                background-color: var(--main4-color1);
                border-radius: var(--raduis-border1);
                overflow: hidden;
                min-height: 500px;

                width: var(--body-width);
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
            }
            .video-container {
                position: relative;
                overflow: hidden;
                width: 100%;
                padding-top: 56.25%;
                border-radius: 12px;
            }
            .responsive-iframe {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }



            



            .sb-body-credit {
                background-color: var(--main4-color1);
                overflow: hidden;
                min-height: 700px;

                /*border-radius: var(--raduis-border1);
                width: var(--body-width);
                margin-left: auto;
                margin-right: auto;*/
                z-index: 1;

                display: grid;
            }
            .credit-section1 {
                width: 100%;
                height: 100%;
                background: var(--main4-color1);
                margin: 0;
                overflow: hidden; /* Evite la scrollbar */
              
                /* Center les éléments */
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .a-long-time-ago {
                /* cosmétique */
                font-size: 60px;
                color: white;
                text-align: center;
                /* Animation: Apparition et disparition progressive */
                opacity: 0;
                animation-delay: 1s;
                animation-duration: 4s;
                animation-name: a-long-time-ago;
                animation-timing-function: ease-out;
            }
            .crawl h1 {
                color: yellow;
                text-align: center;
                text-decoration: none;
            }
            .crawl p {
                font-size: 65px;
                text-align: center;
            }
            
            @keyframes a-long-time-ago {
                0%   { opacity: 0; }
                20%  { opacity: 1; }
                80%  { opacity: 1; }
                100% { opacity: 0; }
            }
            .crawl {
                display: block;
                /* centrage de l'élément' */
                overflow: hidden;
                position: absolute;

                width: 90%;
                height: 390%;

                margin: 0 0 0 -45%;
                bottom: 0;
                left: 50%;

                /* cosmétique */
                text-align: justify;
                /* Applique la transformation  */
                transform-origin: center bottom;
                transform: perspective(250px) rotateX(25deg);
            }
            
            .crawl > div {
                /* positionne la div en bas de l'écran (non visible) */
                /* l'animation la fait remonter progressivement */
                position: absolute;
                top: 100%; 
                animation-delay: 4.2s; /* Démarre l'animation après la première */
                animation-duration: 45s;
                animation-name: crawl;
                animation-timing-function: linear;
            }
            
            @keyframes crawl {
                0% {
                    top: 100%;
                    opacity: 1;
                }
            
                80% {
                    opacity: 1; /* disparition progressive à la fin */
                }
            
                100% {
                    top: 0;
                    opacity: 0;
                }
            }
/* BODY */
