/* BEGINNING_BACKGROUND
div.background-image {
    width: 100%; 
    height: 100%; 
    background-attachment: fixed; 
    background-size: cover;
    position: fixed;
}
div.background-color {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
}
/* END_BACKGROUND 



div.body1 {
width: 50%;
margin-left: auto;
margin-right: auto;
position: sticky;
z-index: 8;
}
*/
* {
    font-family: AllianceNo2, sans-serif;
}
:root {
    --main-color1: white /*rgb(27, 196, 146)*/;
    --main-sb-color1: 14,0,255;

    --main-color2: white;


    --responsivePadding: 40px;
    --responsive: 10px;
    --github-responsive: 14px;
    --github-tracks-responsive: 14px;
    --github-faq-responsive: 16px;
    --github-home-responsive: 14px;
    --github-resources-responsive: 16px;
    --body-width: 80%;
    background-color: black;
}
a {
    text-decoration: none;
}
.dpno {
    display: none;
}

html, body, #root {
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
}
div.background-image {
    opacity: 0.8;

    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-attachment: fixed;
    background-size: cover;
    position: fixed;

    /*background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.30) 50%, var(--main-sb-color1) 100%);*/
    background-color: white;

    background: linear-gradient(160deg, rgba(14,0,255,1) 0%, rgba(0,0,0,0) 80%);
    background: radial-gradient(circle at 50% 0, rgba(var(--main-sb-color1),1) 0%, rgba(var(--main-sb-color1),0.5) 20%, rgba(0,0,0,0) 100%);
}



/* ANIMATIONS */
        .animation1 {
            transition: 0.4s;
        }

        
        @keyframes welcomeBLAM {
            0% {
                transform: translateY(10vh);
                opacity: 0;
            }
            100% {
                transform: translateY(0px);
                opacity: 1;
            }
        }
        .anime-welcomeBLAM {
            animation-name: welcomeBLAM;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
        }
/* ANIMATIONS */



/**/
        .Button {
            transition: box-shadow 0.2s ease 0s, outline 0.2s ease 0s;
            color: rgb(255, 255, 255) !important;
            background-color: transparent !important;
            box-shadow: rgb(255 255 255 / 25%) 0px 0px 0px 1px inset !important;
            display: flex !important;
            border-radius: 0.375rem !important;
            flex-direction: row-reverse !important;
        }
        .Button.primary {
            padding: 16px 24px;
            color: rgb(36, 41, 46);
            background: rgb(246, 248, 250);
            line-height: 16px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 0.375rem;

            border-radius: 4px;
            height: 48px;
            border: none;
            color: rgb(255, 255, 255);
            line-height: 22px;
            letter-spacing: 0.25px;
            font-weight: 600;
            font-size: 16px;
            display: flex;
            flex-direction: row-reverse;
            -webkit-box-pack: center;
            justify-content: center;
            background: var(--main-color1);
            padding: 13px 24px;
            cursor: pointer;
        }
        .Button.primary.main {
            padding: 16px 24px !important;
            color: rgb(36, 41, 46) !important;
            background-color: var(--main-color1) !important;
            line-height: 16px !important;
            display: flex !important;
            -webkit-box-pack: center !important;
            justify-content: center !important;
            cursor: pointer !important;
            border-radius: 0.375rem !important;
        }
        .Link {
            font-size: 15px;
            color: var(--main-color1);
            line-height: 25px;
        }



/* HEADER */
        .section1-header {
            position: fixed;
            z-index: 53;
            width: 100%;
        }
        .section1-header .section1-navigation {
            display: flex;
            background: rgb(0, 0, 0);
            min-height: 72px;
            padding: 80px 150px;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            align-items: center;
            position: relative;
        }
        .section1-header .section1-logo {
            padding: 0px;
            margin: auto;
            cursor: pointer;
            z-index: 100;
            transition: margin 700ms;
        }
        .section1-header .section1-logo a {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            height: 72px;
        }
        .section1-header .section1-links {
            min-width: 100vw;
            max-width: 100vw;
            left: 0px;
            height: 72px !important;
            max-height: 72px !important;
            min-height: 72px !important;

            -webkit-box-flex: 1;
            flex-grow: 1;
            display: flex;
            gap: 30px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            position: absolute;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            background-color: rgb(0, 0, 0);
        }
        .sb1-links {
            display: flex;
            flex-direction: row;
            gap: 40px;

            height: 100%;
            align-items: center;
        }
        .section1-column {
            display: flex;
            /*flex-direction: column;*/
            position: relative;
            height: 100%;
            align-items: center;
        }



        .section1-column:before, .section1-column:after {
            transition: all .2s;
        }
        .section1-column, .section1-column {
        position: relative;
        }
        .section1-column:after,
        .section1-column:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: var(--main-color2);
        height: 2px;
        }
        .section1-column:hover:after {
        width: 100%;
        }

        .section1-column {
        transition: all 500ms;
        }

        .section1-column:after {
        text-align: left;
        content: '.';
        margin: 0;
        opacity: 0;
        }
        .section1-column:hover {
        color: var(--main-color2);
        z-index: 1;
        }
        .section1-column:hover:after {
        z-index: -10;
        animation: fill 1s forwards;
        -webkit-animation: fill 1s forwards;
        -moz-animation: fill 1s forwards;
        opacity: 1;
        }



        .section1-column a.active {
            color: rgb(255, 255, 255);
            font-weight: 600;
            font-size: 14px;
            position: relative;
        }
        .sb1-right {
            display: flex;
            flex-direction: row;
            gap: 16px;
            position: absolute;
            right: var(--responsivePadding);
        }
        .hamburger-icon {
            display: none !important;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            gap: 10px;
            padding: 10px;
            outline-color: transparent;
        }
        .sb1-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: black;
            z-index: 99;
            left: 0;
            top: 0;
        }
/* HEADER */




/* BODY */
            .body1 {
                position: sticky;
                z-index: 1;
            }

            main {
                width: 100%;
                height: 5000px;
            }

            .sb-body-white {
                background-color: rgba(255, 255, 255, 0.05);
                margin: 120px 0 0 0;
                padding: 120px 0 120px 0;

                width: var(--body-width);
                margin-left: auto;
                margin-right: auto;
                z-index: 1;

                position: relative;
                display: grid;
                gap: 1.25rem;
                grid-template-columns: repeat(2, 1fr);
            }
            .grid-body-white {
                position: relative;
                display: grid;
                gap: 1.25rem;
            }
            .section1-main {
                overflow: hidden;
                border-radius: 30px;
                background-color: rgb(204, 195, 255);
                padding: 20px;

                position: sticky;
                z-index: 1;
            }
            .sb-section1-main-p {
                height: 100%;
                display: table-cell;
                vertical-align: middle;
            }
/* BODY */
