/* BEGINNING_BACKGROUND */
div.background-image {
    width: 100%; 
    height: 100%; 
    background-attachment: fixed; 
    background-size: cover;
    position: fixed;
}
div.background-color {
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100%;
}
/* END_BACKGROUND */



div.body1 {
width: 50%;
margin-left: auto;
margin-right: auto;
position: sticky;
z-index: 8;
}